{:general
 {:namespace tsunbot.commands.general

  help
  {:type     :command
   :help     "Print the help text of a single command or the entire bot"
   :max-args 1
   :needs    [:commands :resolve-command]
   :data     {:err-fmt "No such command: %s"}}

  ping
  {:type     :command
   :help     "Replies with \"pong\". Very useful, i know"
   :max-args 0}

  pong
  {:type    :alias
   :command ping}

  cycle-upper-lower
  {:type     :command
   :help     "Cycle between upper/lowercase, like the 'Autistic Spongebob' meme"
   :min-args 1}

  cycle
  {:type    :alias
   :command cycle-upper-lower}

  anime
  {:type     :command
   :help     "Fetches the MAL list of the supplied user (or the current user if no name was given) and gets a random anime from it"
   :max-args 1
   :data     {:succ-fmt "%s strongly recomments '%s' (score: %d)"
              :err-fmt  "%s does not seem to have a MAL account"}}

  anime-backlog
  {:type     :command
   :help     "Check your anime backlog for the current season"
   :max-args 1
   :data     {:succ-fmt     "%s: %d episodes behind"
              :no-anime-fmt "%s is up to date"
              :err-fmt      "%s does not seem to have a MAL account"}}

  backlog
  {:type    :alias
   :command anime-backlog}

  reload-commands
  {:type     :command
   :help     "Reload the commands.edn file"
   :max-args 0
   :needs    [:reload-commands]
   :data     {:succ-fmt "Reloaded commands.edn"}
   :min-role :admin}

  r
  {:type    :alias
   :command reload-commands}

  mal-diff
  {:type     :command
   :help     "Find the anime with the biggest score difference of two users"
   :min-args 1
   :max-args 2
   :data     {:succ-fmt "You seem to disagree on %s, %s rated it %d, but %s rated it %d"
              :err-fmt  "Could not get MAL data. Do all supplied users really exists?"}}}

 :discord
 {:namespace tsunbot.commands.discord

  userid
  {:type     :command
   :help     "Get the Discord user id for some username"
   :max-args 1
   :needs    []
   :data     {:err-fmt "No user called %s"}}

  set-role
  {:type     :command
   :help     "Set the role of a user [none, mod, admin]"
   :min-role :admin
   :min-args 2
   :max-args 2
   :data     {:self-set-fmt     "Cannot set own role"
              :no-user-fmt      "No user called %s"
              :invalid-role-fmt "Invalid role: %s"}}}}

