{:log {:level               :info
       :file                "log/out.log"
       :count               1
       :limit               0
       :append              false
       :date-time-formatter "yyyy-MM-dd HH:mm:ss"}
 :discord {:token   ""
           :intents #{:guilds :guild-messages :direct-messages}}
 :web {:port 9090}
 :mal {:client-id ""}}
